/*                       Details
Thank you for checking out this style library. Of note:
1. I am using Google fonts 'Roboto Condensed' for the page,
which requires a link element in the head of the html doc.
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
Copy and paste the link tag above into the html document
above the link to this stylesheet. */

/* --------------------- Global ------------------ */
html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: #F0F4FA;
  font-family: 'Roboto Condensed', sans-serif;
  /* add font-weight properties of 300, 700, 700 italic for other font variants*/
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  clear: both;
  height: 100px;
  border: 2px solid black;
  box-sizing: border-box;
  margin: .9em 0;
}

/* --------------------- Grid -------------------- */
.grid {
  box-sizing: border-box;
  padding: .2em;
  border: 1px solid black;
  float: left;
  height: 100%;
  display: block;
  min-height: 50px;
}

.grid-1 {
  width: 16.66%;
}

.grid-2 {
  width: 33.33%;
}

.grid-3 {
  width: 49.99%;
}

.grid-4 {
  width: 66.6%;
}

.grid-5 {
  width: 83.33%;
}

.grid-6 {
  width: 100%;
}

.pull {
  float: left;
}

.push {
  float: right;
}

/* --------------------- Table ------------------- */
/* --------------------- Buttons ----------------- */
.btn {
  padding: 1em 2em;
  border: 1px solid #C1C5C9;
  background: #505254;
  border-radius: 6px;
  box-sizing: border-box;
  color: #F0F4FA;
  display: inline-block;
  -webkit-transition: background 0.2 ease;
  -moz-transition: background 0.2 ease;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #C1C5C9;
  color: #505254;
  border: 1px solid #505254;
  text-decoration: underline;
}

/* --------------------- Forms ------------------- */
/* --------------------- Images ------------------ */
