/*                       Details
Thank you for checking out this style library. Of note:
1. I am using Google fonts 'Roboto Condensed' for the page,
which requires a link element in the head of the html doc.
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
Copy and paste the link tag above into the html document
above the link to this stylesheet. */

/* --------------------- Global ------------------ */
html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: #F0F4FA;
  font-family: 'Noto Sans', sans-serif;
  /* add font-weight properties of 400, 700, 400italic for other font variants*/
  font-size: 26px;
}

header, section, aside, footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: .1em;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

.center {
  margin: 0 auto;
}

.row {
  width: 100%;
  clear: both;
  min-height: 100px;
  border: 2px solid black;
  box-sizing: border-box;
  margin: .9em 0;
}

/* --------------------- Grid -------------------- */
.grid {
  box-sizing: border-box;
  padding: .2em;
  border: 1px solid black;
  float: left;
  height: 100%;
  display: block;
  min-height: 50px;
  background-color: #333;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.sm-grid-1 {
  width: 16.66%;
}

.sm-grid-2 {
  width: 33.33%;
}

.sm-grid-3 {
  width: 49.99%;
}

.sm-grid-4 {
  width: 66.6%;
}

.sm-grid-5 {
  width: 83.33%;
}

.sm-grid-6 {
  width: 100%;
}

@media screen and (min-width: 470px) {
  .md-grid-1 {
    width: 16.66%;
  }

  .md-grid-2 {
    width: 33.33%;
  }

  .md-grid-3 {
    width: 49.99%;
  }

  .md-grid-4 {
    width: 66.6%;
  }

  .md-grid-5 {
    width: 83.33%;
  }

  .md-grid-6 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .lg-grid-1 {
    width: 16.66%;
  }

  .lg-grid-2 {
    width: 33.33%;
  }

  .lg-grid-3 {
    width: 49.99%;
  }

  .lg-grid-4 {
    width: 66.6%;
  }

  .lg-grid-5 {
    width: 83.33%;
  }

  .lg-grid-6 {
    width: 100%;
  }
}

/* --------------------- Table ------------------- */
/* --------------------- Buttons ----------------- */
.btn {
  padding: .35em 1em;
}
.btn,
.btn-sm {
  border: 1px solid #C1C5C9;
  background: #505254;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #F0F4FA;
  display: inline-block;
  -webkit-transition: background 0.2 ease;
  -moz-transition: background 0.2 ease;
  transition: background 0.2s ease;
}

.btn:hover,
.btn-sm:hover {
  background-color: #C1C5C9;
  color: #505254;
  border: 1px solid #505254;
  text-decoration: underline;
}

.btn-sm {
  padding: .2em .5em;
  font-size: .6em;
}

/* --------------------- Forms ------------------- */
/* --------------------- Images ------------------ */
